body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-top: 5vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: violet;
}

.allItems {
  width: 97.3vw;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
  overflow-x: scroll;
  padding-left: 20px;
  max-height: 800px;
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.allItems::-webkit-scrollbar {
  display: none;
}

.item-row {
  display: block;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 2vh 1vh;
  text-align: center;
  width: 20%;
}
.item-row span {
  font-weight: bolder;
}
.item-row img {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5vh;
  overflow-x: scroll;
  height: 40vh;
}